// Place all the styles related to the Streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stream {

  h2 {

    a {
      color: #000;
    }

    a:hover {
      background-color: #000;
      color: #fff;
      text-decoration: none;
    }
  }

  h2.year {
    color: #999;
  }

  p.more {
    text-align: right
  }

}

